:root {
  --root-background: #242424;
  --cell-background: gray;
  --cell-gap-color:  #555;
  --cell-size: 30px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 1);

  color-scheme: light dark;
  background-color: var(--root-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  margin: var(--cell-size);
}

.field > .row {
  display: flex;
}

.field > .row > .margin {
  background-color: var(--root-background);
  flex: 1 1;
  border: none;
}

.field > .row > div {
  line-height: var(--cell-size);
  text-align: center;
  background-color: var(--cell-background);
  flex: 0 0 var(--cell-size);
  border: solid 1px var(--cell-gap-color);
}

.field > .row > .empty {
  color: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
